# !important. Security config
PASSWORD_SALT=_password_salt
SECRET_KEY=you_must_set_secret_key


# Database config

# Sqlite Database Configuration
# SQLALCHEMY_DATABASE_URL=sqlite:///../db.sqlite3
# MIGRATIONS_FOLDER=sqlite

# MySQL Server Configuration
MYSQL_HOST=mysql
MYSQL_PORT=3306

MYSQL_USER=mysql_user
MYSQL_PASSWORD=MySQL123!@#
MYSQL_DATABASE=fast_api

MIGRATIONS_FOLDER=mysql


# JWT config
ALGORITHM=HS256


# Logging config
LOG_LEVEL=DEBUG
# Handler using file or console. Handler list sep is ','
LOG_HANDLER=console,file
